name: Auto Merge Hotfix to Main

on:
  push:
    branches:
      - 'hotfix/*'   # mọi nhánh hotfix

jobs:
  merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

      - name: Merge hotfix into main
        run: |
          git fetch origin
          git merge origin/${{ github.ref_name }} --no-ff -m "Auto merge hotfix ${{ github.ref_name }} into main"
      
      - name: Push to main
        run: |
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
